@model G3_Practice.Models.PreferenciaAlimenticia

@{
    ViewBag.Title = "Eliminar Preferencia Alimenticia";
}

<h3>Seguro que desea eliminar esta preferencia alimenticia?</h3>
<div>
    <h4>Preferencia Alimenticia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Atras", "Index")
        </div>
    }
</div>
