
@{
    ViewBag.Title = "CompraExitosa";
}

<div class="success-container">
    <div class="success-box">
        <div class="success-icon">
            <i class="bi bi-check-circle-fill"></i>
        </div>
        <div class="success-message">
            ¡Compra Exitosa!
        </div>
        <div class="success-description">
            Tu compra ha sido realizada con éxito. ¡Gracias por confiar en nosotros!
        </div>
        <a href="/" class="btn-success">Volver al inicio</a>
    </div>
</div>

